/* Main container styling */
/* Main container styling */
.feedbackContainer {
  color: #fff;
  background: url('/space.jpeg') no-repeat center center fixed;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.feedback-form-container {
    max-width: 800px;
    margin: 0rem auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .feedback-logo {
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }

  .feedback-logo img {
    width: 100%;
  }

  /* Heading */
  .feedback-form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  /* Question list styling */
  .feedback-questions {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .feedback-question-row {
    margin-bottom: 1.5rem;
  }
  
  .feedback-question-title {
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 1.2rem;
  }
  
  /* Multiple choice options */
  .feedback-options label {
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
  }
  
  .feedback-options label input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  /* Additional comments textarea */
  .feedback-comment-box {
    width: 90%;
    height: 80px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    resize: vertical;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  /* Submit button */
  .feedback-submit-btn {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .feedback-submit-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .feedback-form-container {
      width: 90%;
    }
  
    .feedback-form-title {
      font-size: 1.5rem;
    }
  
    .feedback-question-title {
      font-size: 1rem;
    }
  
    .feedback-submit-btn {
      font-size: 0.9rem;
    }
  }
  